<html>

<head>
    <title>Calango Laser Tag</title>
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>
    <%- body %>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/jquery-ui.js"></script>
</body>

</html>